<div class="h-100 d-flex flex-column">
  <pma-products-list-header class="flex-shrink-0"></pma-products-list-header>
  <div class="container-fluid flex-grow-1 overflow-hidden ps-4">
    <div class="row h-100">
      <div class="col-2">
        <pma-products-filter-panel></pma-products-filter-panel>
      </div>
      <div class="col-10 overflow-auto h-100">
        <div class="row">
          <div class="col-4" *ngFor="let product of products; trackBy:productsTrackBy; let index=index">
            <pma-product-card [productData]="product">
            </pma-product-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary add-product-button" (click)="openModal()"> Add product </button>
</div>
<pma-add-product-modal (productAdd)="appendNewProduct($event)"></pma-add-product-modal>
<pma-confirmation-modal (confirm)="deleteProduct($event)"></pma-confirmation-modal>
