@import '~bootstrap/scss/bootstrap';
@import "~ngx-smart-modal/ngx-smart-modal";

body {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: unset;

  &:hover {
    border-color: var(--bs-primary);
    color: unset;
  }
}

.sr-only {
  display: none;
}

.bs-rating-star {
  font-size: 1.5rem;
  color: var(--bs-yellow);
}

.nsm-dialog {
  width: calc(100vw - 500px);
  max-width: 800px;

  .nsm-content {
    width: 100%;
  }
}
